<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .table-container {
            max-width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">상품 상세 정보</h1>
    <div class="row">
        <div class="col-12 table-container">
            <table class="table table-sm table-striped mt-3">
                <tr>
                    <th>상품명</th>
                    <td th:text="${product.productName}">상품명</td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td th:text="${product.price + '원'}">가격</td>
                </tr>
                <tr>
                    <th>운영체제(OS)</th>
                    <td th:text="${product.os}">운영체제</td>
                </tr>

            </table>
            <form th:action="@{/payment}" method="post">
                <input type="hidden" name="productName" th:value="${product.productName}">
                <input type="hidden" name="price" th:value="${product.price}">
                <button type="submit" class="btn btn-primary mt-4">결제하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
