<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <script>
        $(document).ready(function() {
            $('.price').each(function() {
                let value = $(this).text().replace(' 원', '');
                let formattedValue = new Intl.NumberFormat().format(value);
                $(this).text(formattedValue + ' 원');
            });

            // 위시리스트 추가/삭제
            $(".btn-process-wishlist").on("click", function () {
                let productNo = $(this).data('product-no');
                console.log(productNo);

                $.ajax({
                    url: "/api/product/process-wishlist",
                    type: "POST",
                    data: { productNo: productNo },
                    success: function (response) {
                        switch (response) {
                          case 1:
                            alert("위시리스트 추가 완료.");
                            break;
                          case 2:
                            alert("위시리스트 삭제 완료.");
                            break;
                          default:
                            alert("위시리스트 Ajax Error");
                        }
                    },
                    error: function () {
                        console.log("위시리스트 Ajax Error");
                    },
                });
            })

            // 장바구니 추가/삭제
            $(".btn-process-basket").on("click", function () {
                let productNo = $(this).data('product-no');
                console.log(productNo);

                $.ajax({
                    url: "/api/product/process-cart",
                    type: "POST",
                    data: { productNo: productNo },
                    success: function (response) {
                        switch (response) {
                          case 1:
                            alert("장바구니 추가 완료.");
                            break;
                          case 2:
                            alert("장바구니 삭제 완료.");
                            break;
                          default:
                            alert("장바구니 Ajax Error");
                        }
                    },
                    error: function () {
                        console.log("장바구니 Ajax Error");
                    },
                });
            })

        });
    </script>
    <script>
        function sendData(typeNo) {
            $.ajax({
                url: "/product/productType",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ typeNo: typeNo }),
                success: function(response) {
                    console.log("데이터 확인", response);

                },
                error: function(xhr, status, error) {
                        // 에러가 발생한 경우 실행할 코드
                        console.error("Error:", error);
                    }
            });
        }
    </script>
</head>

<body>
<div class="container" layout:fragment="content">
    <form th:action="@{/product/test}" method="post">
        <select id="productType" name="products">
            <option value="1">노트북</option>
            <option value="2">마우스</option>
            <option value="3">키보드</option>
        </select>
        <button type="submit" class="btn btn-primary mt-3 mb-4">크롤링 시작</button>
    </form>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href=@{/product/productList} data-toggle="tab">전체</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href=@{/product/laptop/laptopList} data-toggle="tab">노트북</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href=@{/product/mouse/mouseList} data-toggle="tab">마우스</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href=@{/product/keyboard/keyboardList} data-toggle="tab">키보드</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-4 mb-4" th:each="product, iterStat : ${products}">
                <div class="card h-100 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img th:src="@{'/img/product/' + ${product.image}}" class="card-img-top card-img rounded-0 img-fluid" alt="상품 이미지"
                             style="height: 200px; object-fit: contain;">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-custom text-white btn-process-wishlist" th:attr="data-product-no=${product.productNo}"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-custom text-white mt-2" th:href="@{/product/laptop/laptopDetails(productNo=${product.productNo})}"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-custom text-white mt-2"><i class="fas fa-cart-plus"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <a th:href="@{/product/laptop/laptopDetails(productNo=${product.productNo})}">
                        <div class="card-body">

                            <button type="button" class="btn btn-secondary" disabled>게이밍</button>
                            <button type="button" class="btn btn-secondary" disabled>사무용</button>
                            <button type="button" class="btn btn-secondary" disabled>학생용</button>

                            <h5 class="card-title product-name" th:text="${product.productName}">상품명</h5>
                            <div>
                                <span class="small-text" th:text="${product.specsString}"></span>
                            </div>

                            <p class="card-text">
                                <strong></strong> <span class="price" th:text="${product.price} + ' 원'">가격</span><br>

                            </p>
                        </div>
                    </a>

                </div>
            </div>

    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Product list pagination">
                <ul class="pagination">
                    <!-- 첫 페이지로 이동 -->
                    <li class="page-item" th:classappend="${ageNumber == null || pageNumber == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/productList(pageNumber=1, pageSize=${pageSize})}" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>

                    <!-- 이전 페이지 -->
                    <li class="page-item" th:classappend="${ageNumber == null || pageNumber == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/productList(pageNumber=${pageNumber == null ? 1 : pageNumber - 1}, pageSize=${pageSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- 페이지 번호 -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == (pageNumber == null ? 1 : pageNumber)} ? 'active'">
                        <a class="page-link" th:href="@{/product/productList(pageNumber=${i}, pageSize=${pageSize})}" th:text="${i}"></a>
                    </li>

                    <!-- 다음 페이지 -->
                    <li class="page-item" th:classappend="${pageNumber == null || pageNumber == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/productList(pageNumber=${pageNumber == null ? 1 : pageNumber + 1}, pageSize=${pageSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <!-- 마지막 페이지로 이동 -->
                    <li class="page-item" th:classappend="${pageNumber == null || pageNumber == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/product/productList(pageNumber=${totalPages}, pageSize=${pageSize})}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</div>

</body>
</html>