<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
  layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/product/product.css}">
<script th:inline="javascript">
    $(document).ready(function() {
        let currentPage = 0;
        let pageSize = 12;
        let typeNo = [[${ typeNo }]];
        let currentKeyword = '';


        // 가격 형식을 포맷팅하는 함수
        function formatPrices() {
            $('.price').each(function() {
                let value = $(this).text().replace(' 원', '').replace(/,/g, '');
                let formattedValue = new Intl.NumberFormat().format(value);
                $(this).text(formattedValue + ' 원');
            });
        }

        // 필터 값을 카테고리별로 수집하는 함수
        function getSelectedFiltersByCategory(categoryName) {
            let filters = [];
            $("#filterForm input[name='" + categoryName + "']:checked").each(function() {
                filters.push($(this).val());
            });
            return filters;
        }



        // 제품 리스트를 로드하는 함수
        function loadProducts(page, size, typeNo) {

            let data = {
                page: page,
                size: size,
                typeNo: typeNo,
                keyword: $("#form1").val(),
                LBI1: getSelectedFiltersByCategory('os'),
                LBI2: getSelectedFiltersByCategory('manufacturer'),
                LS22: getSelectedFiltersByCategory('storageType'),
                LS21: getSelectedFiltersByCategory('storageCapacity'),
                LG38: getSelectedFiltersByCategory('gpu'),
                LC13: getSelectedFiltersByCategory('cpu'),
                LR9: getSelectedFiltersByCategory('ram'),
                LD25: getSelectedFiltersByCategory('resolution'),
                minPrice: $("#site-search1").val(),  // 여기서 값을 직접 할당
                maxPrice: $("#site-search2").val()
            };

            console.log("Calling loadProducts with - data:", data);

            $.ajax({
                url: "/api/product/product-list",
                type: "GET",
                data: data,
                success: function(response) {
                    $('#product-list').html(response);
                    formatPrices();
                    currentPage = page;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }


        function searchProducts() {
            currentPage = 0;
            loadProducts(currentPage, pageSize, typeNo);
        }

        // 페이지 로드 시 초기 제품 리스트 로드
        loadProducts(currentPage, pageSize, typeNo);

                // 필터 값이 변경될 때 호출
        $("#filterForm input:checkbox").on("change", function() {
           currentPage = 0;
           searchProducts();
        });
        // 검색 폼 제출 시 호출
        $("#searchForm").on("submit", function(e) {
            e.preventDefault();
            searchProducts();
        });

        // 탭 클릭 시 발생하는 이벤트 핸들러
        $(".product-link").on("click", function(e) {
            e.preventDefault();
            typeNo = $(this).data('type-no');
            currentPage = 0;

            $(".product-link").removeClass("active");
            $(this).addClass("active");

            if (typeNo === 1) { // 노트북 탭에서만 필터 폼을 보이게 하는 예시
                $("#filterForm").show();
            } else {
                $("#filterForm").hide();
            }

            searchProducts();
        });

        // 검색 버튼 클릭 시 searchProducts 호출
        $("#priceSearch").on("click", function() {
            searchProducts();  // 검색 실행
        });



        // 페이지 링크 클릭 시 발생하는 이벤트 핸들러
        $(document).on('click', '.pagination a.page-link', function(event) {
            event.preventDefault();

            let page = $(this).data('page') ;
            if (!$(this).closest('li').hasClass('disabled') && !$(this).closest('li').hasClass('active')) {
                currentPage = page;
                loadProducts(currentPage, pageSize, typeNo)
            }
        });
    });
</script>

<style>
    /* 스타일 정의 */
    .left-align {
        text-align: left;
    }
    .filter-header {
        width: 100px;
    }
    .options-list {
        display: flex;
        flex-wrap: wrap;
    }
    .options-list label {
        margin-right: 10px;
    }
    .btn-custom-price {
        background-color: #3498DB;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5.4px 20px;
        font-size: 0.8rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
</style>
</head>

<body>
<div class="container-md" layout:fragment="content">
<br>
    <form th:action="@{/product/test2}" method="get">
        <label for="typeDetails">상품 타입 선택: </label>
        <select name="typeDetails" id="typeDetails">
            <option value="1">상품 타입 1</option>
            <option value="2">상품 타입 2</option>
            <option value="3">상품 타입 3</option>
        </select>
        <button type="submit">선택한 상품 타입 가져오기</button>
    </form>

<th:block th:if="${ typeNo == 1}">
<form id="filterForm">
    <table border="1">
        <tbody class="table custom-table custom-table-striped custom-table-bordered custom-table-hover">
        <!-- 제조사 -->
        <tr>
            <td class="filter-header">제조사</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LBI2']}">
                        <input type="checkbox" name="manufacturer" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 운영체제(OS) -->
        <tr>
            <td class="filter-header">운영체제(OS)</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LBI1']}">
                        <input type="checkbox" name="os" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 저장장치 종류 -->
        <tr>
            <td class="filter-header">저장장치 종류</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LS22']}">
                        <input type="checkbox" name="storageType" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 저장 용량 -->
        <tr>
            <td class="filter-header">저장 용량</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LS21']}">
                        <input type="checkbox" name="storageCapacity" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- GPU 종류 -->
        <tr>
            <td class="filter-header">GPU 종류</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LG38']}">
                        <input type="checkbox" name="gpu" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- CPU 종류 -->
        <tr>
            <td class="filter-header">CPU 종류</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LC13']}">
                        <input type="checkbox" name="cpu" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 램 용량 -->
        <tr>
            <td class="filter-header">램 용량</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LR9']}">
                        <input type="checkbox" name="ram" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 해상도 -->
        <tr>
            <td class="filter-header">해상도</td>
            <td class="left-align">
                <div class="options-list">
                    <div th:each="value : ${cate['LD25']}">
                        <input type="checkbox" name="resolution" th:value="${value}" th:id="${value}">
                        <label th:for="${value}" th:text="${value}"></label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 가격대 -->
        <tr>
            <td class="filter-header">가격대</td>
            <td class="left-align">
                <div class="options-list">
                    <div class="price-search">
                        <input type="number" id="site-search1" name="min" style="width: 100px;" />
                        ~
                        <input type="number" id="site-search2" name="max" style="width: 100px;" />
                        <button type="button" id="priceSearch" name="prices" class="btn-custom-price ms-2" style="position: relative; top: -2px;">검색</button>                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</th:block>
<br>
<form th:action="@{/product/search}" method="get" id="searchForm" name="search-form">
    <div class="product-search">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control search-input" placeholder="검색어를 입력하세요." name="keyword"/>
        </div>
        <button type="submit" class="btn btn-primary-input" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
        </button>
    </div>
    <input type="hidden" id="typeNo" name="typeNo" value="1"/>
</form>
<div>
    <ul class="nav nav-tab product-taps flex-grow-1">
        <li class="nav-item product-item">
            <a class="nav-link product-link" id="laptop-tab" data-type-no="1" href="#">노트북</a>
        </li>
        <li class="nav-item product-item">
            <a class="nav-link product-link" id="mouse-tab" data-type-no="2" href="#">마우스</a>
        </li>
        <li class="nav-item product-item">
            <a class="nav-link product-link" id="keyboard-tab" data-type-no="3" href="#">키보드</a>
        </li>
    </ul>
</div>
<br>
<div class="row" id="product-list"></div>
</div>
</body>
</html>
