<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 정보</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link href="/css/product/product_question.css" rel="stylesheet">
    <script src="/js/product/product_question.js"></script>
    <script src="/js/product/question-review-tab.js"></script>
    <style>

        .review-stars {
            color: gold;
            font-size: 1.5rem;
        }

        .spec-table th { background-color: #f8f9fa;
                         width: 15%; }
        #spec-box { width: 85%; margin: 0 auto;}

        body { font-family: 'Noto Sans KR', sans-serif; }
    </style>
    <script>
        $(document).ready(function() {
            $('.price').each(function() {
                let value = $(this).text().replace(' 원', '');
                let formattedValue = new Intl.NumberFormat().format(value);
                $(this).text(formattedValue + ' 원');
            });

            // 위시리스트 추가/삭제
            $(".btn-process-wishlist").on("click", function () {
                event.preventDefault();
                let productNo = $(this).data('product-no');
                console.log(productNo);

                $.ajax({
                    url: "/api/product/process-wishlist",
                    type: "POST",
                    data: { productNo: productNo },
                    success: function (response) {
                        switch (response) {
                          case 1:
                            alert("위시리스트 추가 완료.");
                            break;
                          case 2:
                            alert("위시리스트 삭제 완료.");
                            break;
                          default:
                            alert("위시리스트 Ajax Error");
                        }
                    },
                    error: function () {
                        console.log("위시리스트 Ajax Error");
                    },
                });
            })

            // 장바구니 추가/삭제
            $(".btn-process-cart").on("click", function () {
                event.preventDefault();
                let productNo = $(this).data('product-no');
                console.log(productNo);

                $.ajax({
                    url: "/api/product/process-cart",
                    type: "POST",
                    data: { productNo: productNo },
                    success: function (response) {
                        switch (response) {
                          case 1:
                            alert("장바구니 추가 완료.");
                            break;
                          case 2:
                            alert("장바구니 삭제 완료.");
                            break;
                          default:
                            alert("장바구니 Ajax Error");
                        }
                    },
                    error: function () {
                        console.log("위시리스트 Ajax Error");
                    },
                });
            })
        });
    </script>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <!-- 상품 이미지 -->
            <img th:src="@{'/img/product/' + ${img}}" class="card-img-top" alt="상품 이미지" style="height: 400px; object-fit: contain;">
            <div class="spec-box mt-3">
                <!-- 상품 기본 정보 -->
                <p th:utext="${details.specsString}"></p>
            </div>
            <div class="mt-2">

            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-12 mb-1" id="product-name">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 th:text="${productName}"></h4>
                        <div class="d-flex justify-content-end align-items-center">
                            <div style="margin-left: 1rem !important;">
                                <a class="btn-process-wishlist" href="#" th:attr="data-product-no=${productNo}">
                                    <span><i class="fa-solid fa-heart fa-1.5x"></i></span>
                                    <span>위시리스트</span>
                                </a>
                            </div>
                            <div style="margin-left: 1rem !important;">
                                <a class="btn-process-cart" href="#" th:attr="data-product-no=${productNo}">
                                    <span><i class="fa-solid fa-cart-shopping fa-1.5x"></i></span>
                                    <span>장바구니</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row mt-2">
                <div class="col-7">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-2">
                            <span><strong>가격 : <span class="price" th:text="${ price }"></span></strong></span>
                            <button class="btn btn-sm btn-custom-primary ms-4">구매하기</button>
                        </div>
                    </div>

                    <ul id="list-simple-spec">
                        <li><strong>제조사 :</strong> 삼성전자</li>
                        <li><strong>브랜드 :</strong> 갤럭시북</li>
                        <li><strong>GPU :</strong> 내장그래픽</li>
                        <li><strong>CPU :</strong> 코어i7 13세대</li>
                        <li><strong>코어개수 :</strong> 10코어(2P+8E)</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between align-items-center"><h5>상품평(614건)</h5> <a href="#">더보기</a></div>

                        <div class="d-flex justify-content align-items-center"><span class="review-stars">★★★★☆</span> <span class="text-dark">4.9점</span></div>


                        <div class="review-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">대학생 필수 노트북? 추천 각!...</h6>
                                    <small>2024.05.25</small>
                                </div>
                                <p class="mb-1">기존에 쓰던 노트북이 고장나서 급하게 구매하게 되었습니다...</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">삼성 덕분입니다. 저는 주로 인터넷...</h6>
                                    <small>2024.05.27</small>
                                </div>
                                <p class="mb-1">삼성 제품이라 믿고 구매했어요...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <!--      숫자 형태로 넣어주고 Js로 동적 생성 or 타임리프 if문 걸어주고 별 생성     -->
                    <span class="review-stars">★★★★☆</span>
                    <span class="ms-2"> / </span>
                    <a href="#" class="text-decoration-none ms-2">리뷰 보러가기</a>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-12 mt-4">
            <h4><strong>상품 상세 정보</strong></h4>
        </div>
        <hr>

        <div id="spec-box">
            <div class="col-12 mt-4">
                <h6><strong>기본사양</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>

            <div class="col-12 mt-4">
                <h6><strong>화면 정보</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>

            <div class="col-12 mt-4">
                <h6><strong>단자</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>

            <div class="col-12 mt-4">
                <h6><strong>부가기능</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>

            <div class="col-12 mt-4">
                <h6><strong>입력장치</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>
            <div class="col-12 mt-4">
                <h6><strong>전원</strong></h6>
            </div>

            <table class="table table-bordered spec-table">
                <tbody>
                <tr>
                    <th>운영체제</th>
                    <td>테스트</td>
                    <th>화면 크기</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>테스트</td>
                    <th>속도</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>코어개수</th>
                    <td>테스트</td>
                    <th>내장그래픽</th>
                    <td>테스트</td>
                </tr>
                <tr>
                    <th>램</th>
                    <td>테스트</td>
                    <th>무게</th>
                    <td>테스트</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 mt-4">
            <h4><strong>문의/리뷰</strong></h4>
            <div class="tab-nav">
                <button class="tab-button active" onclick="showTab('customer-box')">Home</button>
                <button class="tab-button" onclick="showTab('review-box')">About</button>
            </div>
        </div>
        <hr>
<!--        10개의 최신 문의를 띄우고 전체 문의 보기로 해당 제품의 전체 문의 진입-->
        <div id="customer-box" class="tab-content active">
            <div id="customer-list">
                <div th:each="each : ${productqList}" class="question">
                    <div class="question-header">
                        <div class="question-author">
                            <span class="author-name" th:text="${each.memberName}"></span>
                            <span class="question-date" th:text="${#dates.format(each.createdAt, 'YY/MM/dd HH:mm')}"></span>
                        </div>
                    </div>
                    <div class="question-body">
                        <div class="question-bodytop">
                            <p class="question-category" th:text="${each.productqCategoryCode=='productq_opinion'}? '의견':'문의'"></p>
                            <h4 class="question-title" th:text="${each.title}"></h4>
                        </div>
                        <div class="question-content">
                            <p class="question-content" th:text="${each.content}"></p>
                        </div>
                    </div>
                    <hr class="question-hr">
                </div>
            </div>
            <div>
                <a class="btn btn-secondary btn-sm" id="openModalButton" role="button" data-bs-toggle="modal" data-bs-target="#productModal">상품 문의 등록</a>
                <a th:href="@{/customer/user/customer_productq/{productNo}(productNo=${productNo})}">전체문의 보기</a>
            </div>
        </div>

        <div id="review-box" class="tab-content">

        </div>

        <div id="crolling-box">

        </div>

        <div class="col-12 mt-4">
            <h4><strong>연관상품</strong></h4>
        </div>
        <hr>

        <div id="recommend-box">

        </div>
    </div>
</div>
    <!--상품 문의 등록 모달-->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">상품 문의 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="productqForm" method="post" enctype="multipart/form-data">
                        <!-- 제목과 카테고리 입력 -->
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" name="title" required style="width: 100%;">
                            </div>
                            <div class="col-md-4">
                                <label for="inputGroupSelect01" class="form-label">카테고리</label>
                                <select class="form-select" id="inputGroupSelect01" name="productqCategorycode">
                                    <option value="productq_opinion">의견</option>
                                    <option value="productq_question">문의</option>
                                </select>
                            </div>
                        </div>
                        <!-- 내용 입력 -->
                        <div class="mb-3">
                            <label for="content" class="form-label">내용:</label>
                            <textarea class="form-control editor-container__editor" id="content" name="content"></textarea>
                        </div>
                        <!-- 비밀글 설정 -->
                        <div class="mb-3">
                            <label>비밀글: </label>
                            <div>
                                <label class="me-2">
                                    <input type="radio" name="secret" value="Y"> Yes
                                </label>
                                <label>
                                    <input type="radio" name="secret" value="N" checked> No
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="productNo" name="productNo" th:value="${productNo}">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>