<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Product Details</title>

    <style>
        .table-container {
            max-width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>

<div class="container" layout:fragment="content">
    <br>
    <div class="row">
        <div class="col-12 table-container">
            <!-- 상품 이미지 -->
            <img th:src="@{'/img/product/' + ${img}}" class="card-img-top" alt="상품 이미지" style="height: 400px; object-fit: contain;">

            <!-- 상품 기본 정보 테이블 -->
            <table class="table table-sm table-striped mt-3">
                <tr>
                    <th>상품명</th>
                    <td th:text="${productName}">상품명</td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td th:text="${price + '원'}">가격</td>
                </tr>
            </table>
            <div>
                <a class="btn btn-primary" href="#" role="button">장바구니</a>
                <a class="btn btn-primary" href="#" role="button">위시리스트</a>
                <form th:action="@{/payment}" method="post">
                    <input type="hidden" name="productNo" th:value="${productNo}">
                    <input type="hidden" name="img" th:value="${img}">
                    <input type="hidden" name="productName" th:value="${productName}">
                    <input type="hidden" name="price" th:value="${price}">
                    <button type="submit" class="btn btn-primary mt-4">결제하기</button>
                </form>
            </div>

            <!-- 상품 스펙 정보 테이블 -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>스펙명</th>
                    <th>스펙값</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="option, iter : ${options}">
                    <td th:text="${option}">스펙명</td>
                    <td th:text="${optionValue[iter.index]}">스펙값</td>
                </tr>
                </tbody>
            </table>

            <!-- 결제 폼 -->

        </div>
    </div>
</div>
</body>
</html>