<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <style>
        .file-input-wrapper {
            margin-bottom: 10px;
        }
    </style>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/customer/ckeditor.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <script>
        $('style').append('.ck-content { height: 500px; }');
    </script>
</head>
<body>
<div layout:fragment="content">
<div class="profile-box">
    <h1 align="left"style="font-size:40px">상품 문의 답변</h1>
    <hr>
    <form action="/customer/admin/answer_productQ" method="post" enctype="multipart/form-data" onsubmit="disableButton(this);">
        <label for="productqNo">번호</label>
        <input type="text" th:value="${productqNo}" readonly="true" id="productqNo" name="productqNo">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required><br><br>

        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor" aria-required="true"><textarea id="content" name="content"></textarea></div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" id="submitButton" class="btn btn-custom-primary mt-2">등록</button>
        </div>
    </form>

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
            }
        }
    </script>
    <script type="module" src="/js/customer/ckeditor.js"></script>
    <script>
        function disableButton(form) {
            const button = form.querySelector('#submitButton');
            button.disabled = true;
        }
    </script>
</div>
</div>
</body>
</html>