<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .file-input-wrapper {
            margin-bottom: 10px;
        }
    </style>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/customer/ckeditor.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
</head>
<body>
<div layout:fragment="content">
<div class="container mt-5">
    <header>
        <h1 align="center">고객센터</h1>
        <ul class="nav nav-pills justify-content-center" id="customer_nav-pills">
            <li class="nav-item">
                <a class="nav-link cus_nav" href="/customer/user/customer_notice">공지사항</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active cus_nav" aria-current="page" href="/customer/user/customer_personalq">1:1 문의</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cus_nav" href="/customer/user/customer_chatbot">챗 봇</a>
            </li>
        </ul>
    </header>
    <form action="/customer/admin/answer_productq" method="post" enctype="multipart/form-data">
        <label for="productqNo">번호</label>
        <input type="text" th:value="${productqNo}" readonly="true" id="productqNo" name="productqNo">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required><br><br>

        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor" aria-required="true"><textarea id="content" name="content"></textarea></div>
        </div>

        <button type="submit">등록</button>
    </form>

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
            }
        }
    </script>
    <script type="module" src="/js/customer/ckeditor.js"></script>

</div>
</div>
</body>
</html>