<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <link href="/css/customer/table.css" rel="stylesheet">
    <link href="/css/customer/nav.css" rel="stylesheet">
    <style>
        .form-container {
            display: flex;
            justify-content: flex-end;
        }
        .form-select {
            flex: 0 0 20%;
        }
        #categorySelect3 {
            flex: 0 0 15%;
        }
        .form-control {
            flex: 1;
            width: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <header>
            <h1 align="left"style="font-size:40px">1:1 문의</h1>
        </header>
        <hr>
        <div class="form-container">
            <form class="d-flex" role="search" action="/customer/admin/search_all_personalq">

                <select class="form-select" id="categorySelect2" name="answer">
                    <option value="A" th:selected="${answer == 'A'}">답변 여부</option>
                    <option value="N" th:selected="${answer == 'N'}">답변 대기</option>
                    <option value="Y" th:selected="${answer == 'Y'}">답변 완료</option>
                </select>

                    <select class="form-select" id="categorySelect" name="category">
                        <option th:each="categories : ${category}"
                                th:value="${categories.personalqCategorycode}"
                                th:text="${categories.personalqCategoryname}"
                                th:selected="${categories.personalqCategorycode == page_category}">
                        </option>
                    </select>

                <input class="form-control me-2" type="search" id="title" placeholder="제목" aria-label="Search" style="width: 300px;" name="keyword" th:value="${page_keyword}">

                <select class="form-select" id="categorySelect3" name="date">
                    <option value="recent" th:selected="${date == 'recent'}">최신순</option>
                    <option value="old" th:selected="${date == 'old'}">오래된순</option>
                </select>

                <button id="searchButton" class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="fixed-table-container">
            <table class="table table-striped fixed-table" style="text-align: center;">
                <thead>
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>답변 여부</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody id="table-body">
                <tr th:each="each : ${list}" class="align-middle">
                    <td th:text="${each.personalqNo}">번호</td>
                    <td style="text-align: center;">
                        <a style="text-decoration: none;" th:href="@{/customer/user/personalq_detail/{personalqNo}(personalqNo=${each.personalqNo})}" th:text="${each.title}"></a>
                    </td>
                    <td th:text="${each.answer=='Y'}?'답변 완료':'답변 대기'">답변 여부</td>
                    <td th:text="${#dates.format(each.createdAt, 'YY/MM/dd HH:mm')}">작성일</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-end">
            <a class="btn btn-custom-primary btn-sm" sec:authorize="hasAnyAuthority('ROLE_USER')" href="/customer/user/personalq_app" role="button">문의 등록</a>
            <a class="btn btn-custom-primary btn-sm" href="/customer/user/product" role="button">상품 문의(임시)</a>
            <a class="btn btn-custom-primary btn-sm" href="/customer/admin/all_personal_question" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" role="button">전체 문의(관리자)</a>
        </div>
        <script>
            document.getElementById('title').addEventListener('input', function() {
            const titleInput = document.getElementById('title');
            var maxLength = 100;
            if (titleInput.value.length > maxLength) {
                swal('입력 제한', '최대 100자까지 입력 가능합니다.', 'info');
                $(this).val($(this).val().substring(0, maxLength)); // 100자를 초과하는 입력 제거
            }
        });
        </script>
    </div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:if="${role}=='admin'" th:href="@{/customer/admin/search_all_personalq(category=${page_category}, keyword=${page_keyword}, date=${date}, answer=${answer}, page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:if="${role}=='admin'" th:href="@{/customer/admin/search_all_personalq(category=${page_category}, keyword=${page_keyword}, date=${date}, answer=${answer}, page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:if="${role}=='admin'" th:href="@{/customer/admin/search_all_personalq(category=${page_category}, keyword=${page_keyword}, date=${date}, answer=${answer}, page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>