<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{common/layout-profile}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
<!--  <script type="text/javascript" th:src="@{/js/member/point-profile.js}"></script>-->
  <style>
    .point-tap {
      background-color: #3498DB;
      color: white !important;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="profile-box" id="point-box" style="min-height: 760;">
    <h2>포인트 조회</h2>
    <hr>

    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="all-point-tab" data-bs-toggle="tab" data-bs-target="#all-point" type="button" role="tab" aria-controls="all-point" aria-selected="true">전체내역</button>
      <button class="nav-link" id="save-point-tab" data-bs-toggle="tab" data-bs-target="#save-point" type="button" role="tab" aria-controls="save-point" aria-selected="false">적립내역</button>
      <button class="nav-link" id="use-point-tab" data-bs-toggle="tab" data-bs-target="#use-point" type="button" role="tab" aria-controls="use-point" aria-selected="false">사용내역</button>
    </div>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="all-point" role="tabpanel" aria-labelledby="all-point-tab"></div>
      <div class="tab-pane fade" id="save-point" role="tabpanel" aria-labelledby="save-point-tab"></div>
      <div class="tab-pane fade" id="use-point" role="tabpanel" aria-labelledby="use-point-tab"></div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    function removeTab() {
      $('#all-point').removeClass('show active');
      $('#save-point').removeClass('show active');
      $('#use-point').removeClass('show active');
    }

    $('#all-point-tab').on('click', function() {
        $.ajax({
            url: '/api/member/all-point-list',
            type: 'GET',
            success: function(response) {
                $('#all-point').html(response);
                removeTab()
                $('#all-point').addClass('show active');
            },
            error: function(xhr, status, error) {
                console.error('AJAX 요청 실패:', error);
            }
        });
    });

    $('#save-point-tab').on('click', function() {
        $.ajax({
            url: '/api/member/save-point-list',
            type: 'GET',
            success: function(response) {
                $('#save-point').html(response);
                removeTab()
                $('#save-point').addClass('show active');
            },
            error: function(xhr, status, error) {
                console.error('AJAX 요청 실패:', error);
            }
        });
    });

    $('#use-point-tab').on('click', function() {
        $.ajax({
            url: '/api/member/use-point-list',
            type: 'GET',
            success: function(response) {
                $('#use-point').html(response);
                removeTab()
                $('#use-point').addClass('show active');
            },
            error: function(xhr, status, error) {
                console.error('AJAX 요청 실패:', error);
            }
        });
    });

    $('#all-point-tab').trigger('click');
  });

  </script>
</div>
</body>
</html>