<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout-profile}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--  <script type="text/javascript" th:src="@{/js/member/edit-profile.js}"></script>-->
  <style>
    .review-tap {
      background-color: #3498DB;
      color: white !important;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class="profile-box">
    <h2>상품 후기</h2>
    <div class="input-group mb-3 d-flex align-items-center">

      <input type="text" class="form-control" placeholder="상품명 검색" aria-label="Search" style="flex: 2; margin-right: 12px;">

      <div class="input-group-append">
        <button class="btn btn-primary" type="button" onclick="filterByDateRange()">검색</button>
      </div>
    </div>
    <hr> <br>
    <table class="table table-striped text-center">
      <thead>
      <tr>
        <th scope="col" style="width: 5%;">번호</th>
        <th scope="col" style="width: 60%;">상품명</th>
        <th scope="col" style="width: 30%;">날짜</th>
        <th scope="col" style="width: 5%;">작성</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td><a href="#" style="color: blue;">삼성전자 노트북 플러스2 NT550XDA-K14A</a></td>
        <td>2024.07.31</td>
        <td><div class="btn btn-primary">작성</div></td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">이전</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">다음</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>