<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.product.model.mapper.ProductMapper">

    <resultMap id="productResultMap" type="productDTO">
        <result property="productNo" column="product_no"/>
        <result property="typeNo" column="type_no"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="referenceCode" column="reference_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="productCode" column="product_code"/>
        <result property="image" column="upload_name"/>
    </resultMap>

    <!-- 제품 삽입 쿼리-->
    <insert id="insertProduct" parameterType="productDTO" useGeneratedKeys="true" keyProperty="productNo">
        INSERT INTO product(type_no, product_name, price, product_code, created_at)
        values(#{typeNo}, #{productName}, #{price}, #{productCode}, #{createdAt})
    </insert>

    <!-- 이미지 레퍼런트 코드 업데이트 -->
    <update id="updateReferenceCode" parameterType="productDTO">
        UPDATE product SET reference_code = #{referenceCode}, updated_at = updated_at WHERE product_no = #{productNo}
    </update>

    <select id="findTypeNameByNo" resultType="string" parameterType="int">
        SELECT type_name FROM product_type WHERE type_no = #{typeNo}
    </select>

    <!-- 중복 확인-->
    <select id="countByProductCode" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM product WHERE product_code = #{productCode}
    </select>

    <!-- 전체 제품 조회-->
    <select id="getAllProducts" resultType="productDTO" resultMap="productResultMap">
        SELECT
            p.product_no,
            p.type_no,
            p.product_name,
            p.price,
            p.reference_code,
            p.created_at,
            p.updated_at,
            p.product_code,
            i.upload_name
        FROM
            product p
        JOIN
            images i
        on
            i.reference_code = p.reference_code
        ORDER BY p.product_no
        LIMIT #{pageSize} OFFSET #{offset}

    </select>

    <!--리뷰 저장-->
    <insert id="inputReviewDate" parameterType="reviewDTO">
        INSERT INTO review(product_no, rating, title, content)
        values(#{productNo}, #{rating}, #{title}, #{content})
    </insert>

    <select id="getReviewRequired" >
        SELECT product_no, product_code
        FROM product
        WHERE type_no IN(2,3);
    </select>


    <!-- db 저장된 제품 계수 확인 -->
    <select id="getTotalProducts" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <!-- 선택 제품 조회-->
    <select id="getProductByCode" parameterType="String" resultType="laptopSpecDTO">
        SELECT * FROM product WHERE product_code = #{productCode}
    </select>

    <!--제품 카테고리를 옵션으로 조회-->
    <select id="findByOptions" parameterType="String" resultType="productCategoryDTO">
        SELECT *
        FROM product_category
        WHERE options = #{s}
    </select>

<!--    <select id="findCategorytNo" parameterType="String">-->
<!--        SELECT category_no-->
<!--        FROM product_category-->
<!--        WHERE options = #{options}-->

<!--    </select>-->


    <insert id="insertProductCategory" parameterType="productCategoryDTO">
        INSERT INTO product_category (category_no, type_no, options)
        VALUES (#{categoryNo}, #{typeNo}, #{options})
    </insert>



<!--    <insert id="insertProductSpec" parameterType="productSpecDTO">-->
<!--        INSERT INTO product_spec (product_no, category_no, option_value)-->
<!--        VALUES (#{productNo}, #{categoryNo}, #{optionValue})-->
<!--    </insert>-->

    <insert id="insertProductSpec">
        INSERT INTO product_spec (product_no, category_no, option_value)
        VALUES (
        #{productNo},
        (SELECT category_no FROM product_category WHERE options = #{specName}),
        #{specValue}
        )
    </insert>
    
    <select id="findProduct" parameterType="productDTO">
        SELECT *
        FROM
        product
    </select>

    <!--제품의 상세 조회 -->
    <select id="laptopProductDetails" resultType="LaptopDetailsDTO" parameterType="LaptopDetailsDTO">
        SELECT *
        FROM
        product_detail
        WHERE
        product_code = #{productCode}
    </select>



    <!--이미지를 저장시키는 쿼리-->
    <insert id="inputImage" parameterType="imageDTO" useGeneratedKeys="true">
        INSERT INTO
        images( reference_code, origin_name, upload_name)
        VALUES ( #{referenceCode}, #{originName}, #{uploadName})
    </insert>

    <!--저장된 이미지를 불러오는 쿼리-->
    <select id="getImage" resultType="string">
        SELECT upload_name
        FROM
        images
        WHERE reference_code=#{referenceCode}
    </select>



</mapper>