<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.admin.model.dao.AdminDAO">

    <resultMap id="AdminReviewResultMap"
               type="com.multi.laptellect.admin.model.dto.AdminReviewDTO">
        <result column="payment_product_reviews_no" property="payment_product_reviews_no"/>
        <result column="username" property="username"/>
        <result column="product_name" property="product_name"/>
        <result column="content" property="content"/>
        <result column="rating" property="rating"/>
        <result column="create_date" property="create_date"/>
        <result column="modify_date" property="modify_date"/>
    </resultMap>

    <resultMap id="AdminOrdersResultMap"
               type="com.multi.laptellect.admin.model.dto.AdminOrderlistDTO">
        <result column="payment_no" property="payment_no"/>
        <result column="username" property="username"/>
        <result column="product_name" property="productName"/>
        <result column="productPrice" property="productPrice"/>
        <result column="purchase_price" property="purchasePrice"/>
        <result column="date_created" property="date_created"/>
        <result column="im_port_id" property="imPortId"/>
        <result column="refund" property="refund"/>
        <result column="refund_date" property="refund_date"/>
    </resultMap>

    <select id="selectAllReviews" resultMap="AdminReviewResultMap">
        SELECT payment_product_reviews_no,
        username,
        product_name,
        content,
        rating,
        create_date,
        modify_date
        FROM payment_product_reviews
    </select>

    <delete id="deleteReviews" parameterType="list">
        DELETE FROM payment_product_reviews
        WHERE payment_product_reviews_no IN
        <foreach collection="reviewIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAllOrders" resultMap="AdminOrdersResultMap">
        SELECT
        p.payment_no,
        p.username,
        p.product_name,
        pr.price AS productPrice,
        p.purchase_price,
        p.date_created,
        p.im_port_id,
        p.refund,
        p.refund_date
        FROM
        payment p
        LEFT JOIN
        product pr ON p.product_name = pr.product_name
    </select>

    <select id="getLastSevenDaysSales" resultType="com.multi.laptellect.admin.model.dto.AdminDashboardDTO">
        SELECT
        DATE(date_created) as date,
        COUNT(*) as saleCount
        FROM
        payment
        WHERE
        date_created >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        GROUP BY
        DATE(date_created)
        ORDER BY
        date ASC
    </select>



</mapper>