<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.payment.model.dao.PaymentDAO">

    <resultMap id="PaymentResultMap" type="com.multi.laptellect.payment.model.dto.PaymentDTO">
        <id column="payment_no" property="paymentNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="product_no" property="productNo"/>
        <result column="purchase_price" property="purchasePrice"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="im_port_id" property="imPortId"/>
        <result column="refund" property="refund"/>
        <result column="refund_at" property="refundAt" jdbcType="TIMESTAMP"/>
        <result column="member_name" property="userName"/>
        <result column="product_name" property="productName"/>
        <result column="price" property="productPrice"/>
    </resultMap>

    <resultMap id="PointResultMap" type="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        <result column="payment_point_no" property="paymentPointNo"/>
        <result column="member_no" property="memberNo"/>
        <result column="im_port_id" property="imPortId"/>
        <result column="payment_point_change" property="paymentPointChange"/>
        <result column="payment_point_info" property="paymentPointInfo"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>


    <insert id="insertPayment" parameterType="com.multi.laptellect.payment.model.dto.PaymentDTO">
        INSERT INTO payment (
        member_no,
        product_no,
        purchase_price,
        im_port_id
        ) VALUES (
        #{memberNo},
        #{productNo},
        #{purchasePrice},
        #{imPortId}
        )
    </insert>

    <select id="selectOrders" resultMap="PaymentResultMap">
        SELECT p.*, m.member_name, pr.product_name, pr.price
        FROM payment p
        JOIN mem_member m ON p.member_no = m.member_no
        JOIN product pr ON p.product_no = pr.product_no
        WHERE p.refund = 'N'
        AND m.member_name = #{memberName}
        ORDER BY p.created_at DESC
    </select>

    <update id="updateRefundStatus" parameterType="string">
        UPDATE payment
        SET refund = 'Y',
        refund_at = NOW()
        WHERE im_port_id = #{imPortId}
    </update>

    <insert id="saveReview" parameterType="com.multi.laptellect.payment.model.dto.PaymentReviewDTO">
        INSERT INTO payment_product_reviews (
        member_no,
        product_no,
        tag_answer,
        content,
        rating,
        im_port_id,
        created_at
        ) VALUES (
        #{memberNo},
        #{productNo},
        DEFAULT,
        #{content},
        #{rating},
        #{imPortId},
        NOW()
        )
    </insert>

    <select id="getReviewedOrders" resultType="string">
        SELECT im_port_id FROM payment_product_reviews
    </select>

    <select id="selectpoint" resultMap="PointResultMap">
        SELECT * FROM payment_point
        WHERE member_no = #{memberNo}
        ORDER BY payment_point_no DESC LIMIT 1
    </select>

    <insert id="usepoint" parameterType="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        INSERT INTO payment_point (
        member_no,
        im_port_id,
        payment_point_change,
        payment_point_info,
        created_at
        )
        SELECT
        #{memberNo},
        #{imPortId},
        CONCAT('-', #{usedPoints}),
        '구매 시 포인트사용',
        NOW()
    </insert>

    <insert id="givepoint" parameterType="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        INSERT INTO payment_point (
        member_no,
        im_port_id,
        payment_point_change,
        payment_point_info,
        created_at
        )
        SELECT
        #{memberNo},
        #{imPortId},
        CONCAT('+', 500),
        '구매 후 리뷰작성 포인트지급',
        NOW()
    </insert>

    <insert id="refundpoint" parameterType="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        INSERT INTO payment_point (
        member_no,
        im_port_id,
        payment_point_change,
        payment_point_info,
        created_at
        )
        SELECT
        #{memberNo},
        #{imPortId},
        CONCAT('+', #{usedPoints}),
        '상품환불로인한 사용포인트 환불',
        NOW()
    </insert>

    <insert id="refundReviewdPoint" parameterType="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        INSERT INTO payment_point (
        member_no,
        im_port_id,
        payment_point_change,
        payment_point_info,
        created_at
        )
        SELECT
        #{memberNo},
        #{imPortId},
        -500,
        '상품환불로인한 리뷰작성 포인트 환불',
        NOW()
    </insert>

    <insert id="newMemberPoint" parameterType="com.multi.laptellect.payment.model.dto.PaymentpointDTO">
        INSERT INTO payment_point (
        member_no,
        im_port_id,
        payment_point_change,
        payment_point_info,
        created_at
        )
        SELECT
        #{memberNo},
        #{imPortId},
        0,
        '신규회원',
        NOW()
    </insert>

    <select id="select_refundpoint" resultMap="PointResultMap">
        SELECT * FROM payment_point
        WHERE im_port_id = #{imPortId}
        ORDER BY payment_point_no DESC LIMIT 1
    </select>

    <select id="findReview" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM payment_product_reviews
        WHERE im_port_id = #{imPortId}
        ) as exists_flag
    </select>

    <select id="findReviewedPoint" parameterType="string" resultType="int">
        SELECT payment_point_change
        FROM payment_point
        WHERE im_port_id = #{imPortId}
        ORDER BY payment_point_no ASC LIMIT 1
    </select>

    <select id="findProduct" parameterType="string" resultType="com.multi.laptellect.payment.model.dto.PaymentpageDTO">
        SELECT product_no, product_name, product_code, type_no, price, upload_name
        FROM vw_paymentpage
        WHERE product_name = #{productName}
    </select>

    <select id="findPaymentByImPortId" resultType="com.multi.laptellect.payment.model.dto.PaymentDTO">
        SELECT * FROM payment WHERE im_port_id = #{imPortId}
    </select>


    <select id="selectOrderItems" resultMap="PaymentResultMap">
        SELECT p.*, m.member_name, pr.product_name, pr.price
        FROM payment p
        JOIN mem_member m ON p.member_no = m.member_no
        JOIN product pr ON p.product_no = pr.product_no
        WHERE p.refund = 'N'
        AND m.member_no = #{memberNo}
        ORDER BY p.created_at DESC, p.payment_no ASC
    </select>

    <select id="findPaymentsByImPortId" resultMap="PaymentResultMap">
        SELECT * FROM payment WHERE im_port_id = #{imPortId}

    <select id="findAllPaymentByMemberNo" resultMap="PaymentResultMap">
        SELECT
              pay.*
            , m.member_name
            , prod.product_name
            , prod.price
        FROM
            payment pay
        JOIN
            mem_member m ON m.member_no = pay.member_no
        JOIN
            product prod ON prod.product_no = pay.product_no
        WHERE
            pay.member_no = #{ memberNo }
        <choose>
            <when test="paginationDTO.startDate != null and paginationDTO.endDate != null">
                AND pay.created_at BETWEEN #{ paginationDTO.startDate }
                AND DATE_ADD(#{ paginationDTO.endDate }, INTERVAL 1 DAY) - INTERVAL 1 SECOND
            </when>
            <when test="paginationDTO.startDate != null">
                AND pay.created_at >= #{ paginationDTO.startDate }
            </when>
            <when test="paginationDTO.endDate != null">
                AND pay.created_at &lt; DATE_ADD(#{ paginationDTO.endDate }, INTERVAL 1 DAY)
            </when>
        </choose>

        <choose>
            <when test="paginationDTO.selectType == 'orderNumber'">
                <if test="paginationDTO.keyword != null">
                    AND pay.payment_no LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
            <when test="paginationDTO.selectType == 'productName'">
                <if test="paginationDTO.keyword != null">
                    AND prod.product_name LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
            <when test="paginationDTO.selectType == 'all'">
                <if test="paginationDTO.keyword != null">
                    AND (prod.product_name LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                    OR pay.payment_no LIKE CONCAT('%', #{ paginationDTO.keyword }, '%'))
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
        </choose>
        ORDER BY
            pay.payment_no DESC
        LIMIT #{ pageable.pageSize } OFFSET #{ pageable.offset }
    </select>

    <select id="countPaymentByMemberNo">
        SELECT
            COUNT(*)
        FROM
            payment pay
        JOIN
            product prod ON prod.product_no = pay.product_no
        WHERE
            pay.member_no = #{ memberNo }
        <choose>
            <when test="paginationDTO.startDate != null and paginationDTO.endDate != null">
                AND pay.created_at BETWEEN #{ paginationDTO.startDate }
                AND DATE_ADD(#{ paginationDTO.endDate }, INTERVAL 1 DAY) - INTERVAL 1 SECOND
            </when>
            <when test="paginationDTO.startDate != null">
                AND pay.created_at >= #{ paginationDTO.startDate }
            </when>
            <when test="paginationDTO.endDate != null">
                AND pay.created_at &lt; DATE_ADD(#{ paginationDTO.endDate }, INTERVAL 1 DAY)
            </when>
        </choose>

        <choose>
            <when test="paginationDTO.selectType == 'orderNumber'">
                <if test="paginationDTO.keyword != null">
                    AND pay.payment_no LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
            <when test="paginationDTO.selectType == 'productName'">
                <if test="paginationDTO.keyword != null">
                    AND prod.product_name LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
            <when test="paginationDTO.selectType == 'all'">
                <if test="paginationDTO.keyword != null">
                    AND (prod.product_name LIKE CONCAT('%', #{ paginationDTO.keyword }, '%')
                    OR pay.payment_no LIKE CONCAT('%', #{ paginationDTO.keyword }, '%'))
                </if>
                <if test="paginationDTO.keyword == null">
                    AND 1=1
                </if>
            </when>
        </choose>

    </select>

</mapper>