<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.your.package.dao.LaptopScoreDAO">

    <select id="getAllLaptops" resultType="com.your.package.dto.LaptopDetailsDTO">
        SELECT * FROM product WHERE type_no = 1
    </select>

    <select id="getLaptopSpecs" resultType="java.util.HashMap">
        SELECT category_no, option_value
        FROM product_spec
        WHERE product_no = #{productNo}
    </select>

    <insert id="saveOrUpdateLaptopScore" parameterType="com.your.package.dto.LaptopScoreDTO">
        INSERT INTO laptop_data (
            product_no, cpu_score, gpu_score, ram_score, storage_score,
            price_score, weight_score, screen_size_score, resolution_score
        ) VALUES (
                     #{productNo}, #{cpuScore}, #{gpuScore}, #{ramScore}, #{storageScore},
                     #{priceScore}, #{weightScore}, #{screenSizeScore}, #{resolutionScore}
                 ) ON DUPLICATE KEY UPDATE
            cpu_score = #{cpuScore},
            gpu_score = #{gpuScore},
            ram_score = #{ramScore},
            storage_score = #{storageScore},
            price_score = #{priceScore},
            weight_score = #{weightScore},
            screen_size_score = #{screenSizeScore},
            resolution_score = #{resolutionScore}
    </insert>

</mapper>