<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.recommend.laptop.model.dao.ProductDAO">

    <select id="findAllLaptops" resultType="com.multi.laptellect.recommend.laptop.model.dto.LaptopDTO">
        SELECT p.product_no, p.type_no, p.product_name, p.price, p.reference_code,
               ps_weight.option_value AS weight, ps_screen.option_value AS screenSize,
               ps_brand.option_value AS brand, ps_series.option_value AS series
        FROM product p
                 LEFT JOIN product_spec ps_weight ON p.product_no = ps_weight.product_no AND ps_weight.category_no = (SELECT category_no FROM product_category WHERE options = 'weight')
                 LEFT JOIN product_spec ps_screen ON p.product_no = ps_screen.product_no AND ps_screen.category_no = (SELECT category_no FROM product_category WHERE options = 'screen_size')
                 LEFT JOIN product_spec ps_brand ON p.product_no = ps_brand.product_no AND ps_brand.category_no = (SELECT category_no FROM product_category WHERE options = 'brand')
                 LEFT JOIN product_spec ps_series ON p.product_no = ps_series.product_no AND ps_series.category_no = (SELECT category_no FROM product_category WHERE options = 'series')
        WHERE p.type_no = 1
    </select>

    <select id="findTagsByProductId" resultType="string">
        SELECT lt.tag_data
        FROM laptop_tag lt
                 JOIN machine_tagkey mt ON lt.tag_no = mt.tag_no
        WHERE mt.product_no = #{productNo}
    </select>
</mapper>