<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.recommend.clovaapi.model.dao.SentimentDAO">
    <insert id="insertSentiment" parameterType="SentimentDTO">
        INSERT INTO sentiment (product_no2, sentiment_positive, sentiment_negative, sentiment_neutral)
        VALUES (#{product_no2}, #{sentiment_positive}, #{sentiment_negative}, #{sentiment_neutral})
    </insert>
</mapper>