<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.laptellect.auth.model.mapper.AuthMapper">

	<resultMap id="memberResultMap" type="memberDTO">
		<result property="memberNo" column="member_no"/>
		<result property="userName" column="member_name"/>
		<result property="password" column="password"/>
		<result property="point" column="point"/>
		<result property="createDate" column="created_at" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="updated_at" jdbcType="TIMESTAMP"/>
	</resultMap>

	<insert id="insertMember" parameterType="memberDTO" useGeneratedKeys="true" keyProperty="memberNo">
		INSERT INTO mem_member
		(
			  member_name
			, email
		<if test="loginType != null">
			, #{ login_type }
		</if>
		)
		VALUES
		(
			  #{ userName }
			, #{ email }
		<if test="loginType != null">
			, #{ loginType }
		</if>
		)
	</insert>

	<insert id="insertPassword" parameterType="memberDTO">
		INSERT INTO mem_password
		(
			  member_no
			, member_password
		)
		VALUES
		(
			  #{ memberNo }
			, #{ password }
		)
	</insert>

	<select id="selectMemberById" parameterType="String" resultMap="memberResultMap">
		SELECT
			m.*,
			p.member_password AS password
		FROM
			mem_member m
		JOIN
			mem_password p ON m.member_no = p.member_no
		WHERE
			m.member_name = #{userName}
	</select>

	<update id="updatePassword" parameterType="memberDTO">
		UPDATE
			mem_member
		SET
			password = #{ password }
		WHERE
			member_no = #{ memberNo }
	</update>
</mapper>