<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout-customer}">
<head>
    <meta charset="UTF-8">
    <title>챗 봇</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link href="/css/customer/chatbot.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/customer/chatbot.js"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="profile-box">
        <h1 align="left"style="font-size:40px">챗 봇</h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-12 chat-container">
                <div id="conversation" class="chat-box">
                    <div id="communicate" class="messages"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-container">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" id="msg" class="form-control" placeholder="내용을 입력하세요...." size="59px">
                    </div>
                    <input type="text" id="prevmsg" class="form-control" hidden="true">
                    <button id="send" class="btn btn-default ms-1" type="submit">보내기</button>
                    <button id="reset" class="btn btn-default" type="submit">처음으로</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>