<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .nav-pills .nav-link {
            font-size: 25px;
        }
        .nav-link {
        margin: 0 100px;
    }
    </style>
</head>
<body>
<div class="container mt-5">
<header>
<h1 align="center">공지사항</h1>
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/customer/user/customer_notice">공지사항</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/customer/user/customer_personalq">1:1 문의</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/customer/user/customer_chatbot">챗 봇</a>
    </li>
</ul>
</header>

<table class="table table-striped" style="text-align: center">
    <thead>
    <tr>
        <th>No</th>
        <th>제목</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notice}" class="align-middle">
        <td th:text="${note.No}">번호</td>
        <td style="text-align: center;">
            <a style="text-decoration: none;" th:href="@{/customer/user/notice_detail/{noticeNo}(noticeNo=${note.No})}" th:text="${note.No}"></a>
        </td>
        <td th:text="${note.createdAt}">작성일</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>