<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
<div class="container mt-5">
    <header>
        <h1 align="center">고객센터</h1>
        <ul class="nav nav-pills justify-content-center" id="customer_nav-pills">
            <li class="nav-item">
                <a class="nav-link active cus_nav" aria-current="page" href="/customer/user/customer_notice">공지사항</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  cus_nav" href="/customer/user/customer_personalq">1:1 문의</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cus_nav" href="/customer/user/customer_chatbot">챗 봇</a>
            </li>
        </ul>
    </header>

<table class="table table-striped" style="text-align: center">
    <thead>
    <tr>
        <th>No</th>
        <th>제목</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${list}" class="align-middle">
        <td th:text="${note.No}">번호</td>
        <td style="text-align: center;">
            <a style="text-decoration: none;" th:href="@{/customer/user/notice_detail/{noticeNo}(noticeNo=${note.No})}" th:text="${note.No}"></a>
        </td>
        <td th:text="${note.createdAt}">작성일</td>
    </tr>
    </tbody>
</table>
</div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>