<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>챗 봇</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link href="/css/customer/chatbot.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/customer/chatbot.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <header>
            <h1 align="center">고객센터</h1>
            <ul class="nav nav-pills justify-content-center" id="customer_nav-pills">
                <li class="nav-item">
                    <a class="nav-link cus_nav" href="/customer/user/customer_notice">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cus_nav" href="/customer/user/customer_personalq">1:1 문의</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cus_nav active" aria-current="page" href="/customer/user/customer_chatbot">챗 봇</a>
                </li>
            </ul>
        </header>
        <div class="row justify-content-center">
            <div class="col-md-12 chat-container">
                <div id="conversation" class="chat-box">
                    <div id="communicate" class="messages"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-container">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" id="msg" class="form-control" placeholder="내용을 입력하세요...." size="35px">
                    </div>
                    <input type="text" id="prevmsg" class="form-control" hidden="true">
                    <button id="send" class="btn btn-default" type="submit">보내기</button>
                    <button id="reset" class="btn btn-default" type="submit">처음으로</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>