<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <link href="/css/customer/nav.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
<div class="container mt-5">
    <header>
        <h1 align="center">고객센터</h1>
        <ul class="nav nav-pills justify-content-center" id="customer_nav-pills">
            <li class="nav-item">
                <a class="nav-link active cus_nav" aria-current="page" href="/customer/user/customer_notice">공지사항</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cus_nav"  href="/customer/user/customer_personalq">1:1 문의</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cus_nav" href="/customer/user/customer_chatbot">챗 봇</a>
            </li>
        </ul>
    </header>
    <h3 th:text="${notice.noticeNo}">번호</h3>
    <h3 th:text="${notice.title}">제목</h3>
    <h3 th:text="${notice.content}">내용</h3>
    <h3 th:text="${#dates.format(notice.createdAt, 'YY/MM/dd HH:mm')}">날짜</h3>
</div>
<div align="center">
    <hr class="border border-dark">
    <div class="btn-group" aria-label="Small button group">
        <a href="/customer/user/customer_notice" class="btn bg-body-secondary">목록으로</a>
    </div>
</div>
</div>
</body>
</html>