<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')') ? 'common/layout-Admin' : 'common/layout-customer'}">
<head>
    <meta charset="UTF-8">
    <title>상품 문의</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<div layout:fragment="content">
<div class="profile-box" style="min-height: 560px;">
    <h1 align="left"style="font-size:40px">상품 문의</h1>
    <hr>
    <div>
        <p style="font-size: 12px; color: gray; line-height: 0; margin-bottom: 5px;">-질문-</p>
        <h3 th:text="${productq.title}" style="font-size: 40px; font-weight: bold; line-height: 1;">제목</h3>
        <p th:text="${#dates.format(productq.createdAt, 'YY/MM/dd HH:mm')}" class="text-end" style="font-size: 12;">작성일</p>
        <div class="d-flex justify-content-end" aria-label="Small button group">
            <a th:href="@{/customer/user/update_productq/{productqNo}(productqNo=${productq.productqNo})}" th:if="${productq.answer=='N'}" class="btn crud-btn">문의 수정</a>
            <a th:href="@{/customer/user/delete_productq/{productqNo}/{productNo}(productqNo=${productq.productqNo}, productNo=${productq.productNo})}" class="btn crud-btn">문의 삭제</a>
            <a th:href="@{/customer/admin/update_producta/{productqNo}(productqNo=${productq.productqNo})}" th:if="${productq.answer=='Y'}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="btn crud-btn">답변 수정</a>
            <a th:href="@{/customer/admin/delete_producta/{productqNo}(productqNo=${productq.productqNo})}" th:if="${productq.answer=='Y'}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="btn crud-btn">답변 삭제</a>
        </div>
    </div>

    <hr class="border border-dark">
    <div id="content" name="content" th:utext="${productq.content}" readonly="true">내용</div>

    <hr class="border border-dark">

<div  th:if="${productq.answer=='Y'}">

    <div>
        <p style="font-size: 12px; color: gray; line-height: 0; margin-bottom: 5px;">-답변-</p>
        <h3 th:text="${producta.title}" style="font-size: 40px; font-weight: bold; line-height: 1;">제목</h3>
        <p th:text="${#dates.format(producta.createdAt, 'YY/MM/dd HH:mm')}" class="text-end" style="font-size: 12;">작성일</p>
    </div>
    <hr class="border border-dark">
    <div id="content2" name="content2" th:utext="${producta.content}" readonly="true">내용</div>

    <hr class="border border-dark">
</div>
    <div align="center">
        <div class="btn-group" aria-label="Small button group" th:if="${productq.answer=='N'}">
            <a th:href="@{/customer/admin/answer_productq/{productqNo}(productqNo=${productq.productqNo})}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="btn btn-custom-primary">답변하기</a>
        </div>
        <div class="btn-group" aria-label="Small button group">
            <a sec:authorize="hasAnyAuthority('ROLE_USER')" th:href="@{/customer/user/user_productqList}" class="btn btn-custom-primary">목록으로</a>
            <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href="@{/customer/user/customer_productq/{productNo}(productNo=${productq.productNo})}" class="btn btn-custom-primary">목록으로</a>
        </div>
    </div>
</div>


</div>
</body>
</html>