<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <style>
        .file-input-wrapper {
            margin-bottom: 10px;
        }
    </style>
    <link href="/css/customer/nav.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
<div class="container mt-2">
    <header>
        <h1 align="left"style="font-size:40px">상품 문의 수정</h1>
    </header>
    <hr>
    <form action="/customer/user/update_productq" method="post" enctype="multipart/form-data">
        <div class="input-group form-row">
        <label class="input-group-text" for="title">제목:</label>
            <input class="col-md-9" type="text" id="title" name="title" maxlength="100" th:value="${dto.title}" required><br><br>

        <label class="input-group-text" for="inputGroupSelect01" >카테고리</label>
        <select class="form-select col-md-3" id="inputGroupSelect01" name="productqCategorycode">
            <option th:each="categories : ${category}"
                    th:value="${categories.productqCategorycode}"
                    th:text="${categories.productqCategoryname}">
            </option>
        </select>
        </div>
        <div class="editor-container editor-container_classic-editor" id="editor-container">
            <div class="editor-container__editor" aria-required="true"><textarea id="content" name="content" th:text="${dto.content}"></textarea></div>
        </div>

        <button type="button" onclick="addFileInput()">이미지 추가</button>
        <input type="hidden" id="productqNo" name="productqNo" th:value="${dto.productqNo}">
        <button type="submit">수정하기</button>
    </form>
    <script>
        $(document).ready(function() {
            var maxLength = 100;

            $('#title').on('input', function() {
                var length = $(this).val().length;
                if (length > maxLength) {
                    alert('최대 100자까지 입력 가능합니다.');
                    $(this).val($(this).val().substring(0, maxLength)); // 100자를 초과하는 입력 제거
                }
            });
        });
    </script>
</div>
</div>
</body>
</html>