<!--수정안함-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')') ? 'common/layout-Admin' : 'common/layout-customer'}">
<head>
    <meta charset="UTF-8">
    <title>1:1 문의</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link href="/css/customer/table.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <style>
        .form-container {
            display: flex;
            justify-content: flex-end;
        }
        .form-select {
            flex: 0 0 20%;
        }
        #categorySelect3 {
            flex: 0 0 15%;
        }
        .form-control {
            flex: 1;
            width: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<div class="container mt-2">
    <header>
        <h1 align="left"style="font-size:40px">상품 문의 내역</h1>
    </header>
    <hr>
    <div class="form-container">
        <form class="d-flex" role="search" th:action="${state=='all'} ?
        @{/customer/user/search_productq/{productNo}(productNo=${productNo})} : @{/customer/user/search_myproductq/{productNo}(productNo=${productNo})}">

            <select class="form-select" id="categorySelect2" name="answer">
                <option value="A" th:selected="${answer == 'A'}">답변 여부</option>
                <option value="N" th:selected="${answer == 'N'}">답변 대기</option>
                <option value="Y" th:selected="${answer == 'Y'}">답변 완료</option>
            </select>

            <select class="form-select" id="categorySelect" name="category">
                <option th:each="categories : ${category}"
                        th:value="${categories.productqCategorycode}"
                        th:text="${categories.productqCategoryname}"
                        th:selected="${categories.productqCategorycode == page_category}">
                </option>
            </select>

            <input class="form-control me-2" type="search" placeholder="제목" aria-label="Search" style="width: 300px;" name="keyword" th:value="${page_keyword}">

            <select class="form-select" id="categorySelect3" name="date">
                <option value="recent" th:selected="${date == 'recent'}">최신순</option>
                <option value="old" th:selected="${date == 'old'}">오래된순</option>
            </select>

            <button id="searchButton" class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <hr>
    <div class="fixed-table-container">
        <table class="table table-striped fixed-table" style="text-align: center">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>답변 여부</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="each : ${productqList}" class="align-middle">
                <td th:text="${each.productqNo}">번호</td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;" th:if="${each.secret == 'N'}" th:href="@{/customer/user/productq_detail/{productqNo}(productqNo=${each.productqNo})}" th:text="${each.title}"></a>
                    <a style="text-decoration: none;" th:if="${each.secret == 'Y' and each.memberNo != memberNo}">비밀글입니다 🔒</a>
                    <a style="text-decoration: none;" th:if="${each.secret == 'Y' and each.memberNo == memberNo}" th:href="@{/customer/user/productq_detail/{productqNo}(productqNo=${each.productqNo})}" th:text="${each.title}+' 🔒'">비밀글입니다</a>
                </td>
                <td th:text="${each.answer=='Y'}?'답변 완료':'답변 대기'">답변 여부</td>
                <td th:text="${#dates.format(each.createdAt, 'YY/MM/dd HH:mm')}">작성일</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <a class="btn btn-custom-primary btn-sm" th:href="@{/customer/admin/all_product_question}" role="button">전체 문의 보기</a>
    </div>
</div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state}=='all'" th:href="@{/customer/user/search_productq/{productNo}(category=${page_category}, keyword=${page_keyword}, productNo=${productNo}, answer=${answer}, date=${date}, page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link" th:if="${state}=='my'" th:href="@{/customer/user/my_productq/{productNo}(category=${page_category}, keyword=${page_keyword},productNo=${productNo}, answer=${answer}, date=${date}, page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:if="${state}=='all'" th:href="@{/customer/user/search_productq/{productNo}(category=${page_category}, keyword=${page_keyword}, answer=${answer}, date=${date}, productNo=${productNo}, page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                    <a class="page-link" th:if="${state}=='my'" th:href="@{/customer/user/my_productq/{productNo}(category=${page_category}, keyword=${page_keyword},productNo=${productNo}, answer=${answer}, date=${date}, page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state}=='all'" th:href="@{/customer/user/search_productq/{productNo}(category=${page_category}, keyword=${page_keyword}, productNo=${productNo}, answer=${answer}, date=${date}, page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" th:if="${state}=='my'" th:href="@{/customer/user/my_productq/{productNo}(category=${page_category}, keyword=${page_keyword},productNo=${productNo}, answer=${answer}, date=${date}, page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>