<div class="table-container">
    <table>
        <thead>
        <tr>
            <th style="width: 2.5%;"><input type="checkbox" id="select-all"></th>
            <th style="width: 2.5%;">NO.</th>
            <th style="width: 5%;">상품코드</th>
            <th style="width: 5%;">상품분류</th>
            <th style="width: 30%;">상품명</th>
            <th style="width: 5%;">가격</th>
            <th style="width: 5%;">생성일자</th>
            <th style="width: 5%;">수정일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, loop : ${ products }">
            <td><input type="checkbox" class="select-item" name="selectedProducts" th:value="${ product.productNo }"></td>
            <th><a href="#" th:text="${ page * size + loop.index + 1 }" scope="row"></a></th>
            <td th:text="${ product.productNo }"></td>
            <td th:text="${ product.typeNo == 1 ? '노트북' : (product.typeNo == 2 ? '마우스' : (product.typeNo == 3 ? '키보드' : '알 수 없음')) }"></td>
            <td>
                <a th:href="${product.typeNo == 1 ? '/product/productDetail?productNo=' + product.productNo
                  : (product.typeNo == 2 ? '/product/productDetail?productNo=' + product.productNo
                  : (product.typeNo == 3 ? '/product/productDetail?productNo=' + product.productNo
                  : '#'))}"
                   th:text="${product.productName}"></a>
            </td>
            <td th:text="${ product.price }" class="price"></td>
            <td th:text="${#dates.format(product.createdAt, 'yyyy-MM-dd')}"></td>
            <td th:text="${ product.updatedAt == null ? '정보 없음' : #dates.format(product.updatedAt, 'yyyy-MM-dd') }"></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="pagination" th:if="${!products.isEmpty()}">
    <div class="pagination-controls" style="display: flex; gap: 10px; align-items: center;">
        <button id="prevButton"
                th:disabled="${!products.hasPrevious}"
                th:data-page="${ page - 1 }"
                th:text="'&lt; 이전'">
        </button>

        <div id="pageNumbers">
            <button th:each="page : ${#numbers.sequence(startPage, endPage)}"
                    th:text="${ page + 1 }"
                    th:classappend="${page == products.number} ? 'active'"
                    th:data-page="${ page }">
            </button>
        </div>

        <button id="nextButton"
                th:disabled="${ !products.hasNext }"
                th:data-page="${ page + 1 }"
                th:text="'다음 &gt;'">
        </button>
    </div>
</div>