<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <script src="/js/admin/product.js"></script>
    <link rel="stylesheet" href="/css/admin/orders_manage.css">
</head>
<body>
<div layout:fragment="content" class="content-wrapper">
    <div class="profile-box" style="height: auto; width: auto">
        <h1>상품 관리</h1>
        <div class="controls">
            <div class="search-group">
                <select id="searchCategory">
                    <option value="all">전체</option>
                    <option value="productNo">상품코드</option>
                    <option value="productName">상품명</option>
                    <option value="productType">상품분류</option>
                </select>
                <input type="text" id="searchInput" placeholder="검색">
                <button class="btn" type="button" id="btn-search">검색</button>
            </div>
            <button class="btn" type="button" id="btn-delete">선택 삭제</button>
        </div>
    </div>
    <div id="product-list-box"></div>
</div>
</body>
</html>