<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{common/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="content">
<h1> 파이널 프로젝트 시작 </h1>
<p>hello world / 화이팅합시다!</p>

  <th:block sec:authorize="isAnonymous()">
    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
            data-bs-target="#loginModal">Login
    </button>
    <button type="button" th:onclick="|location.href='@{/sign-up}'|" class="btn btn-primary">Sign-up
    </button>
  </th:block>
</div>

</body>
</html>