<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 관리</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link href="/css/customer/table.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <style>
        .form-container {
            display: flex;
            justify-content: flex-end;
        }
        .form-select {
            flex: 0 0 20%;
        }
        #categorySelect3 {
            flex: 0 0 15%;
        }
        .form-control {
            flex: 1;
            width: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-2">
        <header>
            <h1 align="left"style="font-size:40px">공지 사항</h1>
        </header>
        <hr>
        <div class="fixed-table-container">
        <table class="table table-striped fixed-table" style="text-align: center">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr th:each="note : ${list}" class="align-middle">
                <td th:text="${note.noticeNo}">번호</td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;" th:href="@{/customer/user/notice_detail/{noticeNo}(noticeNo=${note.noticeNo})}" th:text="${note.title}"></a>
                </td>
                <td th:text="${#dates.format(note.createdAt, 'YY/MM/dd HH:mm')}">작성일</td>
            </tr>
            </tbody>
        </table>
        </div>
        <div align="right">
            <a class="btn btn-custom-primary btn-sm" th:href="@{/customer/admin/notice_app}" role="button">공지사항 등록</a>
        </div>
    </div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/customer/user/customer_notice(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>