<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>상품 문의</title>
    <link href="/css/customer/table.css" rel="stylesheet">
    <link href="/css/customer/nav.css" rel="stylesheet">
    <style>
        .form-container {
            display: flex;
            justify-content: flex-end;
        }
        .form-select {
            flex: 0 0 20%;
        }
        #categorySelect3 {
            flex: 0 0 20%;
        }
        .form-control {
            flex: 1;
            width: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<div class="container mt-2">
    <header>
        <h1 align="left"style="font-size:40px">상품문의 내역</h1>
    </header>
    <hr>
    <div class="form-container">
        <form class="d-flex" role="search" th:action="@{/customer/admin/search_all_product_question}">

            <select class="form-select" id="categorySelect2" name="answer">
                <option value="A" th:selected="${dto.answer == 'A'}">전체</option>
                <option value="N" th:selected="${dto.answer == 'N'}">미답변 상품</option>
            </select>
            <input class="form-control me-2" type="search" placeholder="상품명" aria-label="Search" style="width: 300px;" name="keyword" th:value="${dto.keyword}">
            <select class="form-select" id="categorySelect3" name="date">
                <option value="recent" th:selected="${dto.date == 'recent'}">최신순</option>
                <option value="old" th:selected="${dto.date == 'old'}">오래된순</option>
            </select>
            <button id="searchButton" class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <hr>
    <div class="fixed-table-container">
    <table class="table table-striped" style="text-align: center">
        <thead>
        <tr>
            <th>No</th>
            <th>상품명</th>
            <th>가격</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="each : ${list}" class="align-middle">
            <td th:text="${each.productNo}">번호</td>
            <td style="text-align: center;">
                <a style="text-decoration: none;" th:href="@{/customer/user/customer_productq/{productNo}(productNo=${each.productNo})}" th:text="${each.productName}">상품명</a>
            </td>
            <td th:text="${each.price}">가격</td>
            <td th:text="${#dates.format(each.createdAt, 'YY/MM/dd HH:mm')}">등록일</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/all_product_question(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_all_product_question(page=${currentPage - 1}, keyword=${dto.keyword}, answer=${dto.answer}, date=${dto.date})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/all_product_question(page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_all_product_question(page=${pageNum}, keyword=${dto.keyword}, answer=${dto.answer}, date=${dto.date})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/all_product_question(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_all_product_question(page=${currentPage + 1}, keyword=${dto.keyword}, answer=${dto.answer}, date=${dto.date})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>