<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html layout:decorate="~{common/layout-Admin}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 관리</title>
    <link href="/css/customer/nav.css" rel="stylesheet">
    <link href="/css/customer/table.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <style>
        .form-container {
            display: flex;
            justify-content: flex-end;
        }
        .form-select {
            flex: 0 0 20%;
        }
        #categorySelect3 {
            flex: 0 0 20%;
        }
        .form-control {
            flex: 1;
            width: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-2">
        <header>
            <h1 align="left"style="font-size:40px">공지 사항</h1>
            <a class="btn btn-custom-primary btn-sm" id="NoticeModalButton" data-bs-toggle="modal" data-bs-target="#NoticeModal" role="button">주요 공지사항</a>
        </header>
        <hr>
        <div class="form-container">
            <div class="form-container">
                <form class="d-flex" role="search" action="/customer/admin/search_notice">

                    <select class="form-select" id="categorySelect2" name="mainRegist">
                        <option value="A" th:selected="${dto.mainRegist == 'A'}">전체</option>
                        <option value="Y" th:selected="${dto.mainRegist == 'Y'}">주요 공지</option>
                    </select>

                    <input class="form-control me-2" type="search" id="title" placeholder="제목" aria-label="Search" style="width: 300px;" name="keyword" th:value="${dto.keyword}">
                    <select class="form-select" id="categorySelect3" name="date">
                        <option value="recent" th:selected="${dto.date == 'recent'}">최신순</option>
                        <option value="old" th:selected="${dto.date == 'old'}">오래된순</option>
                    </select>
                    <button id="searchButton" class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="fixed-table-container">
        <table class="table table-striped fixed-table" style="text-align: center">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <tr th:each="note : ${list}" class="align-middle">
                <td th:text="${note.noticeNo}">번호</td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;" th:href="@{/customer/admin/admin_notice_detail/{noticeNo}(noticeNo=${note.noticeNo})}" th:text="${note.mainRegist == 'Y' ? '🌟'+note.title : note.title}"></a>
                </td>
                <td>관리자</td>
                <td th:text="${#dates.format(note.createdAt, 'YY/MM/dd HH:mm')}">작성일</td>
            </tr>
            </tbody>
        </table>
        </div>
        <div align="right">
            <a class="btn btn-custom-primary btn-sm" th:href="@{/customer/admin/notice_app}" role="button">공지사항 등록</a>
        </div>
        <div class="modal fade" id="NoticeModal" tabindex="-1" aria-labelledby="NoticeModalLabel" aria-hidden="true" >
            <div class="modal-dialog" style="max-width: 80%; width: 80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="NoticeModalLabel">주요 공지</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="fixed-table-container">
                            <table class="table table-striped fixed-table" style="text-align: center">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody id="table-body2">
                                <tr th:each="note : ${list}" th:if="${note.mainRegist=='Y'}" class="align-middle">
                                    <td th:text="${note.noticeNo}">번호</td>
                                    <td style="text-align: center;">
                                        <a style="text-decoration: none;" th:href="@{/customer/admin/admin_notice_detail/{noticeNo}(noticeNo=${note.noticeNo})}" th:text="${note.title}"></a>
                                    </td>
                                    <td>관리자</td>
                                    <td th:text="${#dates.format(note.createdAt, 'YY/MM/dd HH:mm')}">작성일</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center"
                th:with="startPage=${T(java.lang.Math).max(1, ((currentPage - 1) / 10) * 10 + 1)},
                      endPage=${T(java.lang.Math).min(startPage + 9, totalPages)}">

                <!-- Previous 10 pages button -->
                <li class="page-item" th:if="${startPage > 1}">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/admin_notice(page=${startPage - 1})}" aria-label="Previous 10">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_notice(page=${startPage - 1}, keyword=${dto.keyword}, mainRegist=${dto.mainRegist}, date=${dto.date})}" aria-label="Previous 10">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:class="${currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/admin_notice(page=${currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_notice(page=${currentPage - 1}, keyword=${dto.keyword}, mainRegist=${dto.mainRegist}, date=${dto.date})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == pageNum} ? 'active' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/admin_notice(page=${pageNum})}" th:text="${pageNum}">현재페이지</a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_notice(page=${pageNum}, keyword=${dto.keyword}, mainRegist=${dto.mainRegist}, date=${dto.date})}" th:text="${pageNum}">현재페이지</a>
                </li>
                <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/admin_notice(page=${currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_notice(page=${currentPage + 1}, keyword=${dto.keyword}, mainRegist=${dto.mainRegist}, date=${dto.date})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <!-- Next 10 pages button -->
                <li class="page-item" th:if="${endPage < totalPages}">
                    <a class="page-link" th:if="${state=='all'}" th:href="@{/customer/admin/admin_notice(page=${endPage + 1})}" aria-label="Next 10">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                    <a class="page-link" th:if="${state=='search'}" th:href="@{/customer/admin/search_notice(page=${endPage + 1}, keyword=${dto.keyword}, mainRegist=${dto.mainRegist}, date=${dto.date})}" aria-label="Next 10">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>