<table class="table table-striped text-center">
  <thead>
  <tr th:if="${orders == null or #lists.isEmpty(orders)}">
    <td colspan="6" class="text-center">조회 정보가 없습니다</td>
  </tr>
  <tr>
    <th scope="col" style="width: 5%;">번호</th>
    <th scope="col" style="width: 10%;">주문번호</th>
    <th scope="col" style="width: 40%;">상품명</th>
    <th scope="col" style="width: 10%;">금액</th>
    <th scope="col" style="width: 10%;">주문상태</th>
    <th scope="col" style="width: 15%;">날짜</th>
    <th scope="col" style="width: 10%;">구매확정</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${ orders == null or orders.isEmpty() }">
    <td colspan="7" class="text-center">조회 정보가 없습니다</td>
  </tr>
  <tr th:each="order, loop : ${ orders }">
    <th th:text="${page * size + loop.index + 1}" scope="row"></th>
    <td><a href="#" class="order-detail" th:data-payment-no="${ order.paymentNo }" style="color: blue;" th:text="${ order.paymentNo }"></a></td>
    <td><a th:href="@{/product/productDetail(productNo=${ order.productNo })}" style="color: blue;" th:text="${ order.productName }"></a></td>
    <td th:text="${ order.purchasePrice }"></td>
    <td th:text="${ order.refund == 'Y' } ? '환불완료' : ${ order.getFormatConfirm }"></td>
    <td th:text="${ order.getFormatCreatedAt }"></td>
    <td>
      <button class="btn btn-sm border border-light btn-custom-primary btn-confirm"
              th:data-payment-no="${order.paymentNo}"
              th:if="${order.confirm != 'Y' and order.refund != 'Y'}">구매확정
      </button>
      <button class="btn btn-sm border border-light btn-custom-primary btn-confirm"
              th:data-payment-no="${order.paymentNo}"
              th:if="${order.confirm == 'Y' or order.refund == 'Y'}" disabled>구매확정
      </button>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <div th:if="${!orders.isEmpty()}">
    <ul class="pagination justify-content-center order">
      <li class="page-item" th:classappend="${ !orders.hasPrevious } ? 'disabled'">
        <a class="page-link" href="#" th:data-page="${page - 1}" tabindex="-1">이전</a>
      </li>

      <li th:each="page: ${ #numbers.sequence(startPage, endPage) }"
          th:classappend="${ page == orders.number } ? 'active'"
          class="page-item">
        <a th:text="${page + 1}" class="page-link" href="#" th:data-page="${ page }"></a>
      </li>

      <li class="page-item" th:classappend="${ !orders.hasNext } ? 'disabled'">
        <a class="page-link" href="#" th:data-page="${ page + 1 }">다음</a>
      </li>
    </ul>
  </div>
</nav>