<h2>배송지 관리</h2>
<hr>
<div class="d-grid d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add-delivery-modal" style="background-color:#3498DB;">배송지 추가</button>
</div>

<table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col" style="width: 5%;">번호</th>
        <th scope="col" style="width: 85%;">배송지 이름</th>
        <th scope="col" style="width: 5%;">수정</th>
        <th scope="col" style="width: 5%;">삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${addressList == null or #lists.isEmpty(addressList)}">
        <td colspan="6" class="text-center">조회 정보가 없습니다</td>
    </tr>
    <tr th:each="address : ${addressList}">
        <th th:text="${address.rowNum}" scope="row">1</th>
        <td th:text="${address.addressName}"></td>
        <td><div class="btn btn-success btn-sm" th:attr="data-id=${address.addressId}" data-bs-toggle="modal" data-bs-target="#update-delivery-modal">수정</div></td>
        <td><div class="btn btn-danger btn-sm" th:attr="data-id=${address.addressId}" data-bs-toggle="modal" data-bs-target="#delete-delivery-modal">삭제</div></td>
    </tr>
    </tbody>
</table>

<!-- 배송지 업데이트 모달 -->
<div class="modal fade" id="update-delivery-modal" tabindex="-1" aria-labelledby="update-delivery-modal" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body text-center">
          <h4 class="modal-title w-100 text-center">배송지 수정</h4>
          <br> <br>
          <input type="hidden" class="form-control" id="address-id2" placeholder="address-id" value="">
          <input type="hidden" class="form-control" id="member-no2" placeholder="member-no" value="">
          <div class="form-floating">
            <input type="text" class="form-control" id="address-name2" placeholder="address-name" value="">
            <label for="address-name2">배송지 이름</label>
            <div class="error-message" id="addressError2" style="color: red">
              저장할 배송지 이름을 입력해주세요.
            </div>
            <br>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="recipient-name2" placeholder="recipient-name" value="">
            <label for="recipient-name2">받는 사람 이름</label>
            <br>
          </div>

          <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" id="postal-code2" placeholder="postal-code" value="" readonly>
              <label for="postal-code2">우편번호</label>
            </div>
            <button class="btn btn-outline-secondary" type="button" onclick="postCode2()">찾기</button>
            <br>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="address2" placeholder="address" value="" readonly>
            <label for="address-name2">주소</label>
            <br>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="detail-address2" placeholder="detail-address" value="">
            <label for="detail-address2">상세주소</label>
            <br>
          </div>

          <div class="form-floating">
            <input type="tel" class="form-control" id="recipient-phone2" placeholder="recipient-phone" value="">
            <label for="address-name2">받는 사람 연락처</label>
            <br>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="request2" placeholder="request" value="">
            <label for="request2">배송 요청사항</label>
          </div>

          <br> <br>
          <div>
            <button type="button" class="btn btn-primary w-100 updateAddressBtn">배송지 수정</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 배송지 삭제 모달 -->
<div class="modal fade" id="delete-delivery-modal" tabindex="-1" aria-labelledby="delete-delivery-modal" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 300px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center">배송지 삭제</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" class="form-control" id="address-id3" placeholder="address-id" value="">
        <input type="hidden" class="form-control" id="member-no3" placeholder="member-no" value="">
        <p>정말로 삭제 하시겠습니까?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary deleteAddressBtn">배송지 삭제</button>
      </div>
    </div>
  </div>
</div>

<script>
$(".error-message").hide();

function getAddressList() {
    $.ajax({
        url: "/api/member/deliveryList",
        type: 'GET',
        success: function(response) {
            $('#address-box').html(response);
        },
        error: function() {
            swal('서버 오류', '작업을 완료할 수 없습니다. 다시 시도해 주세요.', 'error');
        }
    });
}

$('.btn-success').on('click', function() {
    let id = $(this).data('id');
    console.log('수정할 ID:', id);

    $.ajax({
        url: "/api/member/delivery",
        type: 'GET',
        data: { addressId: id },
        success: function(response) {
            console.log(response);
            $('#address-id2').val(response.addressId);
            $('#member-no2').val(response.memberNo);
            $('#address-name2').val(response.addressName);
            $('#recipient-name2').val(response.recipientName);
            $('#postal-code2').val(response.postalCode);
            $('#address2').val(response.address);
            $('#detail-address2').val(response.detailAddress);
            $('#recipient-phone2').val(response.recipientPhone);
            $('#request2').val(response.request);
            
        },
        error: function() {
            swal('서버 오류', '작업을 완료할 수 없습니다. 다시 시도해 주세요.', 'error');
        }
    });
    // 수정 모달에 배송지 id 삽입
});


$(".updateAddressBtn").on("click", function () {
    function convertEmptyToNull(value) {
            return value.trim() === "" ? null : value;
    }
    let phoneReg = /^01[016789]\d{4}\d{4}$/;

    let addressId = $('#address-id2').val();
    let memberNo = $('#member-no2').val();
    let addressName = convertEmptyToNull($('#address-name2').val());
    let recipientName = convertEmptyToNull($('#recipient-name2').val());
    let postalCode = convertEmptyToNull($('#postal-code2').val());
    let address = convertEmptyToNull($('#address2').val());
    let detailAddress = convertEmptyToNull($('#detail-address2').val());
    let recipientPhone = convertEmptyToNull($('#recipient-phone2').val().replace(/-/g, '').trim());
    let request = convertEmptyToNull($('#request2').val());

    if (!addressName) {
        swal("필수 입력 항목", "저장할 배송지 이름을 입력해주세요.", "info");
    } else if (!recipientName) {
        swal("필수 입력 항목", "수령인 이름을 입력해주세요.", "info");
    } else if (!postalCode) {
        swal("필수 입력 항목", "우편번호를 입력해주세요.", "info");
    } else if (!address) {
        swal("필수 입력 항목", "주소를 입력해주세요.", "info");
    } else if (!detailAddress) {
        swal("필수 입력 항목", "상세 주소를 입력해주세요.", "info");
    } else if (!recipientPhone) {
        swal("필수 입력 항목", "수령인 전화번호를 입력해주세요.", "info");
    } else if (!phoneReg.test(recipientPhone)) {
        swal("유효하지 않은 번호", "수령인 전화번호 형식을 확인해주세요. 010-1234-5678 형식으로 입력해야 합니다.", "info");
    } else if (!request) {
        swal("필수 입력 항목", "요청 사항을 입력해주세요.", "info");
    } else {
        console.log(addressId, memberNo, addressName, recipientName, postalCode, address, detailAddress, recipientPhone, request);

        $.ajax({
            url: "/api/member/update-address",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                addressId: addressId,
                memberNo: memberNo,
                addressName: addressName,
                recipientName: recipientName,
                postalCode: postalCode,
                address: address,
                detailAddress: detailAddress,
                recipientPhone: recipientPhone,
                request: request
            }),
            success: function (response) {
                switch(response) {
                    case 1:
                        swal('배송지 수정 성공', '', 'success');
                        setTimeout(function() {
                            $('#update-delivery-modal').modal('hide');
                            location.reload();
                        }, 1000);
                        break;
                    case 0:
                        swal('배송지 이름을 입력해주세요.', '', 'info');
                        break;
                    case 401:
                        swal('유저 불일치', '', 'warning');
                        break;
                    case 500:
                        swal('배송지 수정 실패', '', 'error');
                        break;
                }
                getAddressList()
            },
            error: function () {
                swal('배송지 수정 실패', '', 'error');
            }
            // 수정 작업 수행
        });
      }
});

$('.btn-danger').on('click', function() {
    let id = $(this).data('id');

    $('#address-id3').val(id);
    console.log('삭제할 배송지 : ', id);
    // 삭제 모달에 배송지 id 삽입
});

$('.deleteAddressBtn').on('click', function() {
    let addressId = $('#address-id3').val();
    console.log('삭제할 배송지 : ', addressId);

    $.ajax({
        url: "/api/member/delete-address",
        type: 'POST',
        data: { addressId: addressId },
        success: function(response) {
            console.log(response);
            if(response) {
              swal('배송지 삭제 완료', '', 'success');

              setTimeout(function() {
                  $('#delete-delivery-modal').modal('hide');
                  getAddressList()
                  location.reload();
              }, 1000);
            } else {
              swal('사용자가 일치하지 않습니다.', '', 'warning');
            }
        },
        error: function() {
            swal('서버 오류 실패', '', 'error');
        }
    });

    // 삭제 작업 수행
});


</script>