        //customer
        #customer-list {
            font-family: Arial, sans-serif;
            max-width: 800px;
        }

        .question {
            padding: 15px;
            margin-bottom: -10px;
        }

        .question-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            margin-top: -30px;
        }

        .question-author {
            display: flex;
            flex-direction: row;
        }

        .author-name {
            font-weight: bold;
            font-size: 20px;
        }

        .question-date {
            color: #888;
            margin-top:4px;
            padding: 4px;
            font-size: 12px;
        }

        .question-body {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        .question-bodytop {
            display: flex;
            align-items: center;
        }

        .opinion-class {
            font-size: 12px;
            margin-right: 10px;
            color: #333;
            border: 1px solid #04B404; /* 테두리 색상과 두께 */
            padding: 3px 10px; /* 내부 여백 */
            border-radius: 50px; /* 타원 모양 */
            text-align: center;
            font-weight: bold;
            display: inline-block; /* 컨텐츠가 타원 안에 맞게 조정되도록 */
        }
        .question-class {
            border: 1px solid #FF8000; /* 문의에 대한 파란색 */
            font-size: 12px;
            margin-right: 10px;
            color: #333;
            padding: 3px 10px; /* 내부 여백 */
            border-radius: 50px; /* 타원 모양 */
            text-align: center;
            font-weight: bold;
            display: inline-block; /* 컨텐츠가 타원 안에 맞게 조정되도록 */
        }

        .question-title {
            font-size: 1.2em;
            margin-top: -8px;
            color: #333;
        }

        .question-content {
            margin-left: 3px;
            margin-bottom: -5px;
            color: #555;
        }

        .question-hr{
            width: 105%;
            margin-left: -25px
        }
