<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.laptellect.recommend.dao.LaptopDAO">
    <select id="findLaptopsByTags" resultType="com.multi.laptellect.recommend.dto.LaptopDTO">
        SELECT * FROM laptops
        WHERE
        <foreach item="tag" collection="tags" separator=" OR " open="(" close=")">
            tags LIKE CONCAT('%', #{tag}, '%')
        </foreach>
        ORDER BY RAND()
        LIMIT 10
    </select>
</mapper>